<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><title>Alib2RSS Транслятор новинок Alib.ru</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
    <h1>Alib2RSS</h1>
    <form method="GET" action="rss">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title"/><br>
        <label for="author">Автор:</label>
        <input type="text" id="author" name="author"/><br>
        <label for="y1">От года:</label>
        <input type="text" id="y1" name="y1" size="4"/>
        <label for="y2">До года:</label>
        <input type="text" id="y2" name="y2" size="4"/><br>
        <input type="submit" value="Получить RSS поток" >
    </form>
    <div id="copy">Ⓒ Ростислав Кондратенко</div>
</body></html>
